* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100%;
}

.container {
  display: inline-block;
  position: relative;
  margin: 10px 15px;
  top: 15vh;
  left: 25%;
  width: 50%;
  margin: auto;
  background-color: rgb(224, 9, 124);
  border: 5px solid greenyellow;
  border-radius: 24px;
  overflow: auto;
}

#gradeArea {
  display: inline-block;
  color: rgb(189, 233, 29);
  position: relative;
  font-size: x-large;
  margin: 40px 0px;
  padding: 30px 15px;
  overflow: auto;
}

#heading {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 22px 12px;
  font-size: 35px;
}

#subject {
  display: inline-block;
  position: absolute;
  margin: 10px 18px;
  padding: 2px;
  font-size: 35px;
  font-family: monospace;
  left: 3%;
}

.input {
  display: inline-block;
  position: relative;
  left: 63%;
  width: 21%;
  border-radius: 6px;
  margin: 3px 13px;
  padding: 0px 16px;
  top: 0.2rem;
}

#mycalculator :where(input) {
  outline: none;
}
div #Btn {
  display: inline-block;
  position: relative;
  margin: 15px 0px;
  padding: 15px 15px;
  top: 4%;
  left: 36%;
}

#btn {
  font-size: 22px;
  font-family: cursive;
  padding: 1px 15px;
  border: 3px solid yellowgreen;
  border-radius: 10px;
  background-color: dodgerblue;
}

#message {
  color: black;
  font-size: 25px;
  position: relative;
  display: flex;
  font-family: monospace;
  justify-content: center;
}

@media all and (max-width: 400px) and (min-height: 500px) {
  .container {
    width: 60%;
  }

  #myCalculator {
    overflow: auto;
  }
}
